In [1]:
#Import Libraries and Dependencies
import pandas as pd
from pathlib import Path
import yfinance as yf

In [2]:
#Pull Ticker data from yfinance
doge = yf.Ticker('doge-usd')
doge_df = doge.history()
doge_df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-09-05,0.063230,0.063640,0.061297,0.062738,231918999,0,0
2022-09-06,0.062750,0.064642,0.058652,0.058983,471485708,0,0
2022-09-07,0.058964,0.061450,0.057944,0.061104,324781387,0,0
2022-09-08,0.061089,0.061293,0.059923,0.060977,268099702,0,0
2022-09-09,0.060974,0.064622,0.060934,0.064018,487988732,0,0

In [3]:
#Select history data using dates corresponding with data needed. Interval 1 Day reasearch data between June 2010 to Sept 2022
doge_df = doge.history(interval='1d', start='2010-06-01', end='2022-09-26')
doge_df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-11-09,0.001207,0.001415,0.001181,0.001415,6259550,0,0
2017-11-10,0.001421,0.001431,0.001125,0.001163,4246520,0,0
2017-11-11,0.001146,0.001257,0.001141,0.001201,2231080,0,0
2017-11-12,0.001189,0.001210,0.001002,0.001038,3288960,0,0
2017-11-13,0.001046,0.001212,0.001019,0.001211,2481270,0,0

In [4]:
#Drop columns except "Close"
doge_df.drop(columns=["Open","High","Low","Volume","Dividends","Stock Splits"], inplace=True)
doge_df.head()

               Close
Date
2017-11-09  0.001415
2017-11-10  0.001163
2017-11-11  0.001201
2017-11-12  0.001038
2017-11-13  0.001211

In [5]:
#Save tsla_df as csf file 
doge_df.to_csv('doge.csv')

In [6]:
#Select history data for hourly analysis and save doge_hourly_df as csv file
doge_hourly_df = doge.history(interval="1h", start="2020-10-20", end="2022-09-27")
doge_hourly_df.to_csv('doge_hourly.csv')