In [1]:
import pandas as pd
from pathlib import Path
import yfinance as yf

In [2]:
doge = yf.Ticker('doge-usd')
doge_df = doge.history()
doge_df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-08-27,0.063571,0.064065,0.062607,0.063587,380887727,0,0
2022-08-28,0.063558,0.064268,0.061786,0.061786,295086067,0,0
2022-08-29,0.061753,0.063982,0.061246,0.063887,315005254,0,0
2022-08-30,0.063899,0.064408,0.060550,0.061525,328934727,0,0
2022-08-31,0.061534,0.063333,0.061058,0.061330,309748693,0,0

In [3]:
doge_df = doge.history(interval='1d', start='2010-06-01', end='2022-09-26')
doge_df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-11-09,0.001207,0.001415,0.001181,0.001415,6259550,0,0
2017-11-10,0.001421,0.001431,0.001125,0.001163,4246520,0,0
2017-11-11,0.001146,0.001257,0.001141,0.001201,2231080,0,0
2017-11-12,0.001189,0.001210,0.001002,0.001038,3288960,0,0
2017-11-13,0.001046,0.001212,0.001019,0.001211,2481270,0,0

In [4]:
doge_df.drop(columns=["Open","High","Low","Volume","Dividends","Stock Splits"], inplace=True)
doge_df.head()

               Close
Date
2017-11-09  0.001415
2017-11-10  0.001163
2017-11-11  0.001201
2017-11-12  0.001038
2017-11-13  0.001211

In [5]:
doge_df.to_csv('doge.csv')