In [6]:
import pandas as pd
from pathlib import Path
import yfinance as yf

In [7]:
sp500= yf.Ticker('spy')
sp500_df= sp500.history()
sp500_df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-08-29,400.554616,404.179709,399.558707,400.982849,65370800,0.0,0
2022-08-30,402.197843,402.446821,394.379952,396.580902,85652400,0.0,0
2022-08-31,398.293861,399.598499,393.423882,393.563293,76029700,0.0,0
2022-09-01,391.282691,395.156761,388.444344,394.798248,78740100,0.0,0
2022-09-02,398.642431,399.917194,388.733125,390.635315,99574100,0.0,0

In [8]:
sp500_df = sp500.history(interval='1d', start='2010-06-01', end='2022-09-26')
sp500_df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-06-01,85.305464,86.565165,84.533899,84.659866,277909400,0.0,0
2010-06-02,85.092886,86.872211,84.644117,86.864342,240243700,0.0,0
2010-06-03,87.116322,87.439118,86.273896,87.163559,226618300,0.0,0
2010-06-04,85.510184,86.077051,83.817458,84.100891,398475600,0.0,0
2010-06-07,84.400071,84.722872,82.990784,83.053764,264609100,0.0,0

In [9]:
sp500_df.drop(columns=["Open","High","Low","Volume","Dividends","Stock Splits"], inplace=True)
sp500_df.head()

                Close
Date
2010-06-01  84.659866
2010-06-02  86.864342
2010-06-03  87.163559
2010-06-04  84.100891
2010-06-07  83.053764

In [10]:
sp500_df.to_csv('sp500.csv')